<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/style_company.css">
    <title>Document</title>
</head>
<body>
    <h1 class="header-1 text-center">Recent shares sold out by users</h1>
    
    <div class="container mt-5 pt-5">
        
        <table class="table">
            <tr>
                <th>User ID</th>
                <th>Company Name</th>
                <th>Shares</th>
                <th>date_time</th>
            </tr>
           <% result.forEach(function(item) { %>
                <tr>
                    <td><%= item.id %></td>
                    <td><%= item.company_name %></td>
                    <td><%= item.shares %></td>
                    <td><%= item.date_time %></td>
                </tr>

           <% }) %>
        </table>
        <form action="/admin_page" method="get">
            
            <input type="submit" value="Go Back" class="btn btn-primary">
        </form>
    </div>
    <script src="C:\bootstrap-5.2.3-dist\js\bootstrap.min.js"></script>
</body>
</html>